asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
backports.ssl-match-hostname==3.7.0.1
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
crcmod==1.7
cryptography==2.7
docker==4.0.2
docker-pycreds==0.4.0
enum34==1.1.6
funcsigs==1.0.2
future==0.17.1
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
httplib2==0.13.0
idna==2.8
ipaddress==1.0.22
keyring==10.6.0
keyrings.alt==3.0
more-itertools==5.0.0
ndg-httpsclient==0.5.1
netaddr==0.7.19
netifaces==0.10.9
pathlib2==2.3.3
pluggy==0.11.0
prettytable==0.7.2
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
pycrypto==2.6.1
#pygobject==3.26.1 // error
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pytest==4.5.0
pyxdg==0.26
requests==2.22.0
requests-mock==1.6.0
rsa==4.0
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.96
scandir==1.10.0
scapy==2.4.3rc1
SecretStorage==2.3.1
six==1.12.0
uritemplate==3.0.0
urllib3==1.25.3
wcwidth==0.1.7
websocket-client==0.56.0
